header{
    position: sticky;
    top: 0px;
    height: 10vh;
    background-color: #2a3143;
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}
#logo{
    position: relative;
    bottom: 35px;
    height: 50px;
}
.nav-bar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-bar{
    list-style: none;
    font-size: 20px;
}
.nav-bar a{
    text-decoration: none;
}
/* .nav-bar li :hover{
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
} */
.nav-bar a.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}